registry=https://pkgs.dev.azure.com/fixPDQ/fixPDQ/_packaging/fixPDQ.Packages/npm/registry/

always-auth=true

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=D5B77C9D-8C37-48D6-98B4-399F0D4422AA
